/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #032b43; /* Hero section background color */
  color: white; /* Hero section text color */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner .button {
  background-color: black; /* Button background color */
  color: white; /* Button text color */
  border: 1px solid black; /* Ensure border is consistent */
}
